.category-box {
    padding: 2px;
    width: 500px;
    padding-top: 0px;
    display: flex;
    justify-content: space-around;
}

.add-category {
    padding-top: 0px;
}

.delete-category {
    padding-top: 0px;
}

.category-box input, .category-box select {
    border-top: 1px solid rgba(0, 0, 0, 0.329);
    border-right: 0px solid rgba(0, 0, 0, 0.329);
    border-bottom: 1px solid rgba(0, 0, 0, 0.329);
    border-left: 1px solid rgba(0, 0, 0, 0.329);
    padding: 7px;
    border-radius: 5px 0 0 5px;
    outline: none;
    font-size: 14px;
    transition: 0.3s ease;
    font-weight: 400;
    width: 150px;
}

.category-box select {
    padding: 6px;
}

.cat-btn {
    border-top: 1px solid rgba(0, 0, 0, 0.329);
    border-right: 1px solid rgba(0, 0, 0, 0.329);
    border-bottom: 1px solid rgba(0, 0, 0, 0.329);
    border-left: 1px solid rgba(0, 0, 0, 0.329);
    padding: 7px;
    background-color: white;
    border-radius: 0 5px 5px 0;
    outline: none;
    font-size: 14px;
    transition: 0.3s ease;
    font-weight: 400;
}

.add-cat:hover {
    border: 1px solid rgb(0, 190, 48);
    color:  rgb(0, 190, 48);
}

.del-cat:hover {
    /* background-color: rgb(255, 0, 55); */
    border: 1px solid rgb(255, 0, 55);
    color: rgb(255, 0, 55);
}


 .close-category i{
     font-size: 15px;
     transition: 0.2s ease;
     color: rgb(85, 85, 85);
    
 }
 .close-category i:hover{
    color: black;
   
}

 