.checkout-box {
    /* border: 1px solid rgba(194, 194, 194, 0.198); */
    /* border-radius: 12px; */
    overflow-y: scroll;
    min-height: 490px;
    max-height: 490px;
    /* margin: 20px; */
    padding: 15px;
    display: grid;
    grid-template-columns: 1.1fr 1fr;
    grid-template-areas: "a b" "a b" "c b";
}

#checkoutHistory-window-btn {
    border: 1px solid rgb(124, 124, 124);
    border-radius: 90px;
    width: 110px;
    height: 40px;
    margin-top: 8px;
    color: rgb(124, 124, 124);
    margin-right: 20px;
    background-color: white;
    transition: 0.2s ease;
    outline: none;
}

#checkoutHistory-window-btn:hover {
    border: 1px solid rgb(39, 39, 39);
    color: rgb(39, 39, 39);
}

.checkout-box::-webkit-scrollbar {
    display: none;
}

.checkoutlist {
    grid-area: a;
    border: 1px solid rgb(199, 199, 199);
}

.processcheckout {
    grid-area: c;
}

.allinventory {
    grid-area: b;
    background: #e0e0e0;
}

.cb {
    margin: 5px;
    border-radius: 10px;
    /* background-color: rgba(243, 243, 243, 0.527); */
}

.search-box {
    display: flex;
    justify-content: center;
}

.allinventory input {
    border: 1px solid rgba(109, 109, 109, 0.609);
    border-radius: 10px;
    padding: 5px;
    outline: none;
    padding-left: 30px;
    padding-left: 30px;
    margin-top: 9px;
    margin: 20px;
    width: 100%;
    height: 20px;
}

.display-all-inventory {
    /* height: auto; */
}

.itembox {
    /* border: 1px solid rgba(34, 34, 34, 0.198); */
    overflow-y: scroll;
    max-height: 400px;
}

.itembox::-webkit-scrollbar {
    display: none;
}

.round-checkout-box {
    /* border: 1px solid rgb(200, 200, 200); */
    border-radius: 10px;
    margin: 8px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    box-shadow: 5px 5px 8px #c1c1c1, -5px -5px 8px #f5f5f5;
}

.restock-details {
    font-size: 12px;
}

.leftstock-c {
    text-align: center;
}

.leftstock-c #quantity {
    font-size: 22px;
    font-weight: 600;
    color: rgb(53, 53, 53);
}

.leftstock-c #quantity-text {
    font-size: 10px;
    font-weight: 500;
    color: rgb(116, 116, 116);
}

.add-items {
    margin-top: 12px;
}

.add-items i {
    /* padding-left: 1px; */
    /* padding-top: 1px; */
    font-size: 29px;
    color: rgb(110, 110, 110);
    transition: 0.2s ease;
}

.add-items button {
    border: none;
    outline: none;
    background: #e0e0e0;
    transition: 0.2s ease;
}

.add-items i:hover {
    color: rgb(16, 173, 11);
}

.right-side {
    display: flex;
    justify-content: center;
    margin-right: 30px;
    margin-top: 8px;
}

.checkoutlist-box {
    border: 1px solid #dddddd;
    /* min-height: 40px; */
    border-radius: 15px;
    background: #e0e0e0;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: space-between;
}

.checkoutlist-box-right input {
    border: 1px solid rgba(109, 109, 109, 0.609);
    border-radius: 10px;
    padding: 5px;
    /* padding-left: 30px;
    padding-left: 30px; */
    text-align: center;
    width: 40px;
    margin-right: 10px;
    /* margin-top: 9px; */
    /* margin: 20px; */
    /* height: 20px; */
}

.checkoutlist-box {
    font-size: 14px;
}

.checkoutlist-box-right i {
    color: rgb(90, 90, 90);
    transition: 0.2s ease;
}

.checkoutlist-box-right i:hover {
    color: rgb(255, 13, 53);
}

.checkoutlist-box span {
    font-weight: 500;
}

.checkoutlist {
    overflow-y: scroll;
    height: 300px;
    /* max-width: 440px; */
}

.checkoutlist::-webkit-scrollbar {
    display: none;
}

.processcheckout {
    height: 170px;
    background-color: rgba(211, 211, 211, 0.767);
}

.upper-cb input {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 10px;
    padding: 5px;
    padding-left: 16px;
    margin-top: 9px;
    width: 90%;
    height: 19px;
}

.lower-cb {
    margin-top: 9px;
    margin: 5px;
    height: 44%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.lower-cb button {
    border-radius: 20px;
    padding: 10px 13px 10px 13px;
    font-weight: 600;
    outline: none;
    transition: 00.2s ease;
    background-color: rgb(46, 46, 46);
    border: 1px solid rgb(46, 46, 46);
    color: #e0e0e0;
}

.lower-cb button:hover {
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
}

/* checkout history */

.header-box-sup {
    font-size: 35px;
    display: flex;
    color: rgb(75, 75, 75);
    font-weight: 700;
    margin-bottom: 20px;
    margin-left: 45px;
}

.blurc-s {
    position: fixed;
    margin: 0;
    backdrop-filter: blur(8px);
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.37);
    z-index: 30;
    pointer-events: all;
    backdrop-filter: blur(3px);
    -webkit-animation: fadein 0.4s;
    -moz-animation: fadein 0.4s;
    -ms-animation: fadein 0.4s;
    -o-animation: fadein 0.4s;
    animation: fadein 0.4s;
}

.checkouthistory-head {
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.checkouthistory-head .btn {
    /* position: absolute; */
    background-color: transparent;
    top: 20px;
    margin-right: 20px;
    border: none;
    font-size: 25px;
    outline: none;
    transition: 00.2s ease;
}

.checkouthistory-head .btn:hover {
    color: rgb(255, 0, 55);
}

.checkouthistory-head .title {
    margin-left: 50px;
}

.checkouthistory-box-s {
    border: 1px solid rgba(194, 194, 194, 0.198);
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 30px rgba(119, 119, 119, 0.281);
    border-radius: 12px;
    /* overflow: scroll; */
    z-index: 40;
    padding: 0 20px 20px 20px;
    height: 560px;
    position: fixed;
    width: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.checkouthistory-box-s::-webkit-scrollbar {
    display: none;
}

.checkouthistory-table {
    overflow-y: scroll;
    margin-top: 10px;
    max-height: 490px;
    margin-left: 10px;
    margin-right: 10px;
}

.checkouthistory-table::-webkit-scrollbar {
    display: none;
}

.checkouthistory-table table {
    width: 100%;
    text-align: left;
    border-spacing: 1;
    border-collapse: collapse;
    background: white;
    /* border-radius: 10px; */
    overflow: scroll;
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.checkouthistory-table table th {
    position: sticky;
    top: 0;
    background-color: #ffffff;
    z-index: 1;
}

.checkouthistory-table table * {
    position: relative;
}

.checkouthistory-table table td, .checkouthistory-table table th {
    padding-left: 8px;
}

.checkouthistory-table table thead tr {
    height: 50px;
    color: #585858;
}

.checkouthistory-table table tbody tr {
    height: 50px;
}

.checkouthistory-table table tbody tr:last-child {
    border: 0;
}

.checkouthistory-table table td, .checkouthistory-table table th {
    text-align: left;
}

.checkouthistory-table table td.l, .checkouthistory-table table th.l {
    text-align: right;
}

.checkouthistory-table table td.c, .checkouthistory-table table th.c {
    text-align: center;
}

.checkouthistory-table table td.r, .checkouthistory-table table th.r {
    text-align: center;
}

.checkouthistory-table tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}

.checkouthistory-table tbody tr {
    /* font-family: OpenSans-Regular; */
    font-size: 15px;
    color: #808080;
    line-height: 1.2;
    font-weight: unset;
}

.checkouthistory-table tbody tr:hover {
    color: #3a3a3a;
    background-color: #e6e6e6;
}

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Firefox < 16 */

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Internet Explorer */

@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/* Opera < 12.1 */

@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#generate-reportt-btn {
    border: 1px solid #585858;
    background: white;
    color: #585858;
    border-radius: 10px;
    margin-left: 10px;
    vertical-align: middle;
    outline: none;
    padding: 2px 5px 2px 5px;
    transition: 0.1s ease;
}

#generate-reportt-btn:hover {
    border: 1px solid black;
    color: black;
}