.sidenav {
    width: 250px;
    font-weight: 300;
    /* height: 530px; */
    /* border-radius: 20px; */
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px rgba(197, 197, 197, 0.198);
    border: 1px solid rgba(194, 194, 194, 0.383);
    border-radius: 20px;
 
    
    /* box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.068); */
    /* margin-top: 50px; */
}

.sidenav a {
    /* background-color: #eee; */
    border: 1px solid rgba(51, 51, 51, 0.137);
    text-align: center;
    
    border-radius: 12px;
    color: rgb(51, 51, 51);
    display: block;
    padding: 10px;
    margin: 20px;
    text-decoration: none;
    transition: 0.3s;
}

.sidenav a:hover {
    border: 1px solid rgba(51, 51, 51, 0.171);
    background-color: rgb(251, 251, 251);
    /* box-shadow: 0px 0px 9px rgba(0, 0, 0, 0.089); */
    /* color: #000000; */
}

.sidenav a.active {
    background-color: #4CAF50;
    color: white;
}