

.cusBookConfirm{
    position: absolute;
    border-radius: 10px;
    top: 434px;
    /* height: 600px; */
    left: 1020px;
    transform: translate(-50%, -50%);
    background: rgb(214, 214, 188);
    width: 400px;
    height: 670px;
    z-index: 22 !important;
}