

.cusSideComp{
    position: absolute;
    border-radius: 10px;
    top: 390px;
    /* height: 600px; */
    left: 950px;
    transform: translate(-50%, -50%);
    background: rgb(248, 248, 248);
    width: 1150px;
    z-index: 22 !important;
}